@font-face {
  font-family: 'Allura';
  src: url('../fonts/Allura/Allura-Regular.ttf') format('woff2'),
    url('../fonts/Allura/Allura-Regular.ttf') format('woff');
}

img {
  object-fit: cover;


}

body {
  background-color: #ffffff;
  color: #333333;
}
html.dark {
  background-color: #121212;
  color: #ffffff;
}
/* Dans index.css, personnalisez les couleurs en mode sombre */
.dark {
  background-color: #121212; /* Fond sombre */
  color: #ffffff; /* Texte clair */
}

/* Exemple de personnalisation d'éléments spécifiques en mode sombre */
.dark .bg-gradient-to-r {
  background: linear-gradient(to right, #333333, #555555);
}
